<HTML>
    <body>
        <h1> {{ test.name }}</h1><br/>
        <h2> {{ test.date }}</h2><br/>
        <h2> {{ test.time }}</h2><br/>
        <h2> {{ test.duration }}</h2><br/>
        <br/>
        {% for question in questions %}
            <h4>{{ question.question }}</h4>
            <br/>
            {% for choice in choices %}
                {% if choice.question == question %}
                    <h6>{{ choice.choice }}</h6>
                    {% if choice.answer %}
                        <h6>ANSWER</h6>
                    {% endif %}
                    <br/>
                {% endif %}
            {% endfor %}
            <br/>
        {% endfor %}
    </body>
</HTML>
